/* Media queries */
@media screen and (min-width: 992px) {
  .sidebar {
    min-width: 150px;
    align-items: flex-start !important;
  }
}
/* /media queries */

/* Rules */
body {
  font-family: "Roboto", sans-serif;
}

/* /Rules */
/* header */

nav .navbar-brand:nth-of-type(2) {
  width: 40px;
}

nav .navbar-brand:nth-of-type(2) img {
  width: 100%;
}

#nav-icons {
  gap: 20px;
  padding-right: 10px;
}

#nav-icons i:last-of-type {
  color: #ff8f00;
}
/* /header */
/* Main */

/* Sidebar */
.sidebar {
  background-color: #051e34;
  width: 70px;
  height: calc(100vh - 80px);
  color: white;
  background-image: url(/img/sidebar-bg.png);
}
/* /sidebar */

/* main dashboard */
.dashboard {
  height: 120px;
  width: 100%;
  color: white;
}

.badge {
  background-color: #165bba !important;
  font-size: 1rem;
}

.plus {
  border: 2px solid white;
}

/* /main dashboard */

/* /main */
