/* Media queries */

@media screen and (min-width: 768px) {
  .dashboard {
    max-height: 140px !important;
  }
}

@media screen and (min-width: 992px) {
  .sidebar {
    min-width: 150px;
    align-items: flex-start !important;
  }
}
/* /media queries */

/* Rules */
body {
  font-family: "Roboto", sans-serif;
}

/* /Rules */
/* header */

nav .navbar-brand:nth-of-type(2) {
  width: 40px;
}

nav .navbar-brand:nth-of-type(2) img {
  width: 100%;
}

#nav-icons {
  gap: 20px;
  padding-right: 10px;
}

#nav-icons i:last-of-type {
  color: #ff8f00;
}

#basic-addon1,
.form-control {
  background: transparent;
}

.input-group {
  background-color: #e5e5e5;
}

/* /header */
/* Main */
main {
  overflow-x: hidden;
}
/* Sidebar */
.sidebar {
  background-color: #051e34;
  width: 70px;
  height: calc(100vh - 85px);
  color: white;
  background-image: url(/img/sidebar-bg.png);
}
/* /sidebar */

/* main dashboard upper*/
.dashboard {
  color: white;
  max-height: 265px;
}

.dashboard .col-12 {
  padding-bottom: 20px;
}

.badge {
  background-color: #165bba !important;
  font-size: 1rem;
}

.plus {
  border: 2px solid white;
}

#dashboard-container {
  width: 100%;
}
/* /main dashboard upper */
/* main dashboard lower */
#left {
  width: 100%;
}
/* /main dashboard lower */
/* /main */
